//tablesorter
//@import "analysis/tablesorter.less"

//treeTable
//@import "analysis/treeTable.less"

table.treeTable
	height auto
	width 100%

/*
	border 1px solid red
	border-collapse collapse

	table
		border 1px solid #000

	tr
		padding 1px
		margin 1px
		border 1px solid blue
		//border-collapse collapse

		td
			border 1px solid #000

*/