/*!
Designer Sean Lang
*/

// Colors
lite_text = #4F4F4F //gray, used for buttons & modals

reg_color = #d1d1d1 //gray
l_reg_color = lighten(reg_color, 15%)
d_reg_color = darken(reg_color, 15%)

highlight_color = rgb(165, 206, 229) //light blue
l_highlight_color = lighten(highlight_color, 15%)
d_highlight_color = darken(highlight_color, 15%)

error_color = #ff0000 //red
l_error_color = lighten(error_color, 15%)
d_error_color = darken(error_color, 15%)

page_bgcolor = #adadad
form_bgcolor = #fff //#f4f4f4

blue_color = #1054AA //used for guider headers
d_blue_color = darken(saturate(blue_color, 10%),15%)

d_black_color = #000
black_color = lighten(d_black_color, 15%)
l_black_color = lighten(d_black_color, 30%)

l_white_color = #fff
white_color = darken(l_white_color, 15%)
d_white_color = darken(l_white_color, 30%)

// Vars
line_height = 23px
button_height = 32px

// Images
// TODO: add IE (aka: shit-browser) compatible images (non-embedded) to a ie stylesheet?

select_icon = url('static/img/select_icon.gif')
progressbar = url('static/img/progress_bar.png')
background_dots = url('static/img/background_dots.png')
stripe = url('static/img/stripe.png')
close_icon = url('static/img/icon_sprite.png')
arrow = url('static/img/arrow.gif')
plus_icon = url('static/img/icon/plus.svg')
help_icon = url('static/img/icon/help.svg')
clear_input_icon = url('static/img/icon/clear_input.svg')
//TODO add a red background to clear_input_icon?

/* source of clear_input_icon
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 48 48">
		<path style="fill:#333333" d="M14.318,11.877L2.193,23.998l12.125,12.125h31.486l0.002-24.246H14.318z M43.082,33.4H15.445l-9.4-9.401l9.4-9.4h27.64L43,33.4z"/>
		<polygon style="fill:#333333" points="28.207,29.774 32.055,25.927 35.902,29.774 37.826,27.85 33.979,24 37.826,20.154 35.902,18.228 32.055,22.076 28.207,18.227 26.281,20.152 30.129,24 26.281,27.85"/>
	</svg>
*/

ts_bg = url('img/ie/bg.gif')
ts_asc = url('img/ie/asc.gif')
ts_desc = url('img/ie/desc.gif')


// Parametric Mixins
border_radius(radius)
	-webkit-border-radius radius
	-moz-border-radius radius
	border-radius radius


border_radius_tl(radius)
	-webkit-border-top-left-radius radius
	-moz-border-radius-topleft radius
	border-top-left-radius radius


border_radius_bl(radius)
	-webkit-border-bottom-left-radius radius
	-moz-border-radius-bottomleft radius
	border-bottom-left-radius radius


border_radius_tr(radius)
	-webkit-border-top-right-radius radius
	-moz-border-radius-topright radius
	border-top-right-radius radius


border_radius_br(radius)
	-webkit-border-bottom-right-radius radius
	-moz-border-radius-bottomright radius
	border-bottom-right-radius radius


box_shadow(shadow)
	-moz-box-shadow shadow
	-webkit-box-shadow shadow
	box-shadow shadow


advanced_gradent(color_a, color_b)
	background-image -webkit-linear-gradient(top, color_a, color_b)
	background-image -moz-linear-gradient(top, color_a, color_b)
	background-image -o-linear-gradient(top, color_a, color_b)
	background-image linear-gradient(top, color_a, color_b)


reg_gradent(color)
	advanced_gradent(lighten(color, 15%), darken(color, 15%))


inv_gradent(color)
	advanced_gradent(darken(color, 15%), lighten(color, 15%))


advanced_img_gradent(image, color_a, color_b)
	background-image image, -webkit-linear-gradient(top, color_a, color_b)
	background-image image, -moz-linear-gradient(top, color_a, color_b)
	background-image image, -o-linear-gradient(top, color_a, color_b)
	background-image image, linear-gradient(top, color_a, color_b)


img_gradent(image, color)
	advanced_img_gradent(image, lighten(color, 15%), darken(color, 15%))


inv_img_gradent(image, color)
	advanced_img_gradent(image, darken(color, 15%), lighten(color, 15%))


opacity(opacity_dec)
	-moz-opacity opacity_dec
	filter unquote('alpha(opacity=' + round(opacity_dec*100) + ')')
	opacity opacity_dec


transition(time)
	-webkit-transition all time ease-out // Saf3.2+, Chrome
	-moz-transition all time ease-out // FF4+
	-o-transition all time ease-out // Opera 10.5+
	transition all time ease-out // WC3


box_sizing(type)
	-webkit-box-sizing type
	-moz-box-sizing type
	box-sizing type

// Mixins
background() //used on buttons & legends
	background-color reg_color//fallback
	reg_gradent(reg_color)
	box_shadow(0 1px 0 rgba(255,255,255,0.6) inset)


background_highlight() //used on buttons & legends
	background-color highlight_color
	reg_gradent(highlight_color)
	box_shadow('0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset')


text()
	text-shadow 0 1px 0 rgba(255, 255, 255, 0.6)
	font-size 14px
	font-weight 700
	color lite_text


//Font
font_list = "BankGothicMdBTMedium", "bankgothic lt bt"