/*
Designer: Sean Lang
Language: LESS
*/

//Colors
@litetext: #4F4F4F; //gray, used for buttons & modals

@regcolor: #d1d1d1; //gray
@l-regcolor: lighten(@regcolor, 15%);
@d-regcolor: darken(@regcolor, 15%);

@activecolor: #FF5C00; //orange
@l-activecolor: lighten(@activecolor, 15%);
@d-activecolor: darken(@activecolor, 15%);

@errorcolor: #ff0000; //red
@l-errorcolor: lighten(@errorcolor, 15%);
@d-errorcolor: darken(@errorcolor, 15%);

@page_bgcolor: #adadad;
@form_bgcolor: #fff; //#f4f4f4

@blue: #1054AA; //used for guider headers
@d-blue: darken(saturate(@blue, 10%),15%);

@d-black: #000;
@black: lighten(@d-black, 15%);
@l-black: lighten(@d-black, 30%);

@l-white: #fff;
@white: darken(@l-white, 15%);
@d-white: darken(@l-white, 30%);

// Images
/* TODO embed images */
@plushelp: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAgCAYAAADJ2fKUAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJCwQdAJZZZ/wAAAHPSURBVDjL7ZO/ixNBFMc/byaeP3I3iHDIrcihlc39AVYeNjaCoKXNYWObysLOStBKsLC7XhHBwk6sxdarrUwM5yns3sYkZudrkYmsMUfW3i8Ms+9957vvvXlvDCDPux54CFwHTvEnInAAPA8hewxgSbQD7LIcN0LIXrtkbKX9PbC+YJWJvwTQSsYzYA/wIWRfZ7/N8+4q8KCWsvud3iLkefcW8AQ4l1wfgDshZB/tCMFL4GYy+8B9YDeETPX05nEl7a+AnRCyvE4eJdpO3Od5wUJRnnc3gM1UbwD2l4qADnCv1lg/f8AtEPkl/ELn99r3Af/xjxgM9q8dHvbelmW/Iw3bS69ckgNdkLgqaSvG0ckmfUrCKe9ci6YiAMxMjSbCzKKZjZL5E46N/xrYouhtOmcnJKIkqqqKwJkUcbUsv10sil4hyXvviTFOWsCjGLUOVIC89xZjPJ9E28DGNCIuxuiB0oqi9wU4C8zyN0mzeqzmn3HDFnAXWEtvB2DinLssqeOcvZH0oqriyDln05JtvLC5Zdm/XRQ9lWX/qaTjjZor6XQy2zBYa9SnWh1q+nIxs1lUayySFAGZ2WQ8HjabCOf8JzPembG3stL+MX/mF9ggxYnbLvIlAAAAAElFTkSuQmCC);
@select: url(data:image/gif;base64,R0lGODlhBQAJAIABAP///wAAACH5BAEKAAEALAAAAAAFAAkAAAIMTGAHuJ0PU1sKGVsAADs=);
@progressbar: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAMCAYAAAA3bX6lAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sKDwMeMFYg/5EAAABBSURBVEjHY/z//78xwzAFjIyMDCxQxtnh5jlYxDExDG/wf9SDQxz8HfXgUC9IR/PgEAdMo0l0qMcgC3KtPxw9CADADg9+vDPV+wAAAABJRU5ErkJggg==);
@background-dots: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKBAMAAAB76QKzAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sKDxc2H7uDZ84AAAAPUExURczMzP///////wAAAP///9EMEoIAAAAFdFJOUwAFCkBBCYBNVgAAAAFiS0dEAf8CLd4AAAAbSURBVAjXYzBgAAIHBmwALOUExExMDAyMMFEAHR8A6EDLCd8AAAAASUVORK5CYII=);
@stripe: url(img/ie/stripe.png);
@close-icon: url(img/icon_sprite.png);
@arrow: url(img/arrow.gif);

@plus-icon: url(img/icon/plus.svg);
@help-icon: url(img/icon/help.svg);

@ts-bg: url(img/ie/bg.gif);
@ts-asc: url(img/ie/asc.gif);
@ts-desc: url(img/ie/desc.gif);

// Parametric Mixins
.border-radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.border-radius-tl (@radius) {
	-webkit-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
}

.border-radius-bl (@radius) {
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
}

.border-radius-tr (@radius) {
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}

.border-radius-br (@radius) {
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}

.box-shadow (@shadow) {
	-moz-box-shadow: @shadow;
	-webkit-box-shadow: @shadow;
	box-shadow: @shadow;
}

.advanced-gradent (@gradent1, @gradent2) {
	background-image: -webkit-linear-gradient(top, @gradent1, @gradent2);
	background-image: -moz-linear-gradient(top, @gradent1, @gradent2);
	background-image: -ms-linear-gradient(top, @gradent1 @gradent2);
	background-image: "-webkit-gradient(linear, 0% 0%, 0% 100%, from(@{gradent1}), to(@{gradent2})";
	background-image: -o-linear-gradient(top, @gradent1, @gradent2);
	background-image: linear-gradient(top, @gradent1, @gradent2);
}

.img-gradent (@img, @color) {
	@l-color: lighten(@color, 15%);
	@d-color: darken(@color, 15%);
	background-image: @img, -webkit-linear-gradient(top, @l-color, @d-color);
	background-image: @img, -moz-linear-gradient(top, @l-color, @d-color);
	background-image: @img, -ms-linear-gradient(top, @l-color @d-color);
	background-image: @img, "-webkit-gradient(linear, 0% 0%, 0% 100%, from(@{l-color}), to(@{d-color})";
	background-image: @img, -o-linear-gradient(top, @l-color, @d-color);
	background-image: @img, linear-gradient(top, @l-color, @d-color);
}

.inv-img-gradent (@img, @color) {
	@l-color: lighten(@color, 15%);
	@d-color: darken(@color, 15%);
	background-image: @img, -webkit-linear-gradient(top, @d-color, @l-color);
	background-image: @img, -moz-linear-gradient(top, @d-color, @l-color);
	background-image: @img, -ms-linear-gradient(top, @d-color @l-color);
	background-image: @img, "-webkit-gradient(linear, 0% 0%, 0% 100%, from(@{d-color}), to(@{l-color})";
	background-image: @img, -o-linear-gradient(top, @d-color, @l-color);
	background-image: @img, linear-gradient(top, @d-color, @l-color);
}

.reg-gradent (@color) {
	@l-color: lighten(@color, 15%);
	@d-color: darken(@color, 15%);
	background-image: -webkit-linear-gradient(top, @l-color, @d-color);
	background-image: -moz-linear-gradient(top, @l-color, @d-color);
	background-image: -ms-linear-gradient(top, @l-color @d-color);
	background-image: "-webkit-gradient(linear, 0% 0%, 0% 100%, from(@{l-color}), to(@{d-color})";
	background-image: -o-linear-gradient(top, @l-color, @d-color);
	background-image: linear-gradient(top, @l-color, @d-color);
}

.inv-gradent (@color) {
	@l-color: lighten(@color, 15%);
	@d-color: darken(@color, 15%);
	background-image: -webkit-linear-gradient(top, @d-color, @l-color);
	background-image: -moz-linear-gradient(top, @d-color, @l-color);
	background-image: -ms-linear-gradient(top, @d-color @l-color);
	background-image: "-webkit-gradient(linear, 0% 0%, 0% 100%, from(@{d-color}), to(@{l-color})";
	background-image: -o-linear-gradient(top, @d-color, @l-color);
	background-image: linear-gradient(top, @d-color, @l-color);
}

.opacity (@opacity) {
	@opacity_percent: @opacity * 100;
	-moz-opacity: @opacity;
	filter:alpha(opacity=@opacity_percent);
	opacity: @opacity;
}

.transition (@time) {
	-webkit-transition: all @time ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: all @time ease-out;  /* FF4+ */
	-ms-transition: all @time ease-out;  /* IE10? */
	-o-transition: all @time ease-out;  /* Opera 10.5+ */
	transition: all @time ease-out;
}

// Mixins

.theme1 () { //used on buttons & legends
	color: @litetext;
	background: #ededed;
	.reg-gradent(@regcolor);
	.box-shadow(0 1px 0 rgba(255,255,255,0.6) inset);
	font-size: 14px;
	font-weight:700;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

// Fonts
@font-face {
    font-family: 'BankGothicMdBTMedium';
    src: url('font/bank-gothic-medium-bt.ttf');
}

@font-face {
    font-family: 'BankSans';
    src: url('font/bank-sans.ttf');
}

@font-list: "BankGothicMdBTMedium", "bankgothic lt bt";


// Logo

	#c, #s, #d {
		stroke: none !important;
		fill: #000 !important;
	}

	a#logo {
		float: right;

		svg {
			height: 60px;
			margin-left: -12px;
			margin-right: -13px;
			margin-top: -5px;
		}

		path {
			stroke: #000;
			fill:none;
			stroke-width: 4.5;
		}
	}


// Reset

	label, button, legend, a#logo, .ibutton-container {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}


// Layout

	body, html, table {
		height: 100%;
		margin: 0;
	}

	body {
		background-color: @page_bgcolor;
		background-image: @background-dots;
		font-family: @font-list;
		margin:0 8px 0 8px;
		min-width: 1150px;
	}

	#layout {
		width: 100%;
		border: 0;
	}

	td {
		vertical-align: top;
		padding: 0;
	}

	.head {
		height:65px;
	}

	.foot {
		height: 15px;
	}


// Forms

	p {
		display:inline;
		margin:2px;
	}

	ul {
		padding-left:0;
		margin:0;

		&#navbar {
			margin: 10px;
		}

		li {
			margin:0;
			display:inline; // for forms
		}
	}

	td#content > ul, td#sidebar > ul {
		display:inline; // for forms
	}
	
	@legendHeight: 20px;
	legend {
		font-size: 18px;
		text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
		.theme1();
		margin-left: -10px;
		margin-bottom: -@legendHeight;
		padding:0 10px;
		line-height: @legendHeight;
		border-top: 1px solid #B6B6B6;
	}

	fieldset {
		background: @form_bgcolor;
		position: relative;
		padding:1px;
		padding: @legendHeight 10px 0;
		margin:10px;
		display:inline;
		vertical-align:middle;
		border: 1px solid #B6B6B6;
		.box-shadow(0 0 5px #000);
		
		> p {
			position: absolute;
			right: 15px;
		    font-size: 11px;
		    margin-top: -@legendHeight + 4;
		}
		
		ul {
			margin:10px;

			li:first-child label {
				margin-left:0;
			}

		}

		&.focus legend {
			/*TODO fix below*/
			color: #1c4257;
			border-color: #7096ab;
			background-color: #ededed;
			.advanced-gradent(#b9e0f5, #92bdd6);
			.box-shadow(~'0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset');
		}
	}

	fieldset, legend {
		.border-radius-br(8px);
	}

	label {
		font-weight:400;
		margin-left:20px;
	}


	input, select, textarea, button {
		font-family: @font-list;
		font-size: 1em;
	}

	input, textarea {
		border:none;
		background-repeat: repeat;
		background-image: @stripe;
		.box-shadow(inset 0 0 6px #000000);
		width:150px;
		height:23px;
		padding:2px 5px 1px 5px;
		vertical-align:middle;
		font-family: @font-list;
		font-size: 15px;
		.border-radius(5px);
	}

	input[readonly='readonly'] { //disabled input
		background-color: #D4D4D4;
		color: #525252;
	}

	textarea {
		padding:5px;
		resize: none;
	}

	input:focus, textarea:focus { /*TODO extend blue shadow to select box / any other inputs */
		.box-shadow (inset 0 0 4px @d-blue);
	}


// Icons

	.icon { /*TODO fix this bad looking css */
		display: inline;
		overflow: hidden;
		background-repeat: no-repeat;
		vertical-align: middle;
		font-size: 22px;
		font-weight: 200;

	}


// Links

p a {
    .border-radius(0.25em);
	border: 1px solid transparent;
    color: #336699;
    margin: 0 -0.2em;
    padding: 0.1em;
    text-decoration: underline;

	&:hover {
		background: #3399CC;
		border: 1px solid #B6B6B6;
		text-decoration: none;
		background: #ededed;
		.reg-gradent(@regcolor);
		.box-shadow(0 1px 0 rgba(255,255,255,0.6) inset);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
		.box-shadow(~'0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset');
		color: #313131;
	}

	&:active {
		background: #3399CC;
		border: 1px solid #7096ab;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
		color: #1c4257;
		background: #ededed;
		.advanced-gradent(#b9e0f5, #92bdd6);
		.box-shadow(~'0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset');
	}
}


// Buttons

	button {
		.border-radius(3px);
		height: 32px; //fixes weird button height diff
		padding: 0 1em;

		&.icon {
			height: 28px;
			padding: 4px;
		}
	}


// Buttons and Button Sets

	button, .buttonset label {
		outline: none;
		/* TODO add transitions*/
		border: 1px solid #B6B6B6;
		.theme1();
		display: inline-block;
		position: relative;
		margin-right: .1em;
		text-decoration: none;
		cursor: pointer;
		text-align: center;
		overflow: visible;
		height: 31px;
		padding: 0 10px;

		svg {
			fill: @litetext;
			vertical-align: middle;
			width: 17px;
			height: 17px;
		}

		&:hover {
			.box-shadow(~'0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset');
			color: #313131;
			svg {
				fill: #313131;
			}
		}

		// remove dotted lines in firefox
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}


	button:active, .buttonset input[type="radio"]:checked + label {
		color: #1c4257;
		border-color: #7096ab;
		background-color: #ededed;
		.advanced-gradent(#b9e0f5, #92bdd6);
		.box-shadow(~'0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset');
	}



// Button Sets

	.buttonset {
		margin-right: 7px;
		display: inline;

		input[type="radio"] {
		    display:none;
		    left: ~'-1e+8px';
		    position: absolute;
		}

		label {
			margin-left: -3px;
			margin-right: -3px;
			line-height: 31px; //aligns text to center

			&.first {
				.border-radius-bl (3px);
				.border-radius-tl (3px);
			}

			&.last {
				.border-radius-br (3px);
				.border-radius-tr (3px);
			}
		}

		a {
			padding: 0 1em;
			height:100%;
			display:block;
		}

	}


// Toggle
	.toggle-container {
		display: inline-block;
		vertical-align: middle;
		
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	  
		height: 23px;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		// set max width to that of sprite
		max-width: 400px;
		// set default width based on ON/OFF labels
		width: 89px;
	
		input {
			position: absolute;
			top: 0;
			right: 0;// hide the element
			.opacity(0);
			// allow checking of input if visible
			-moz-user-input: enabled !important;
		}
		label {
			margin-left: auto;//reset
			cursor: inherit;
			font-size: 1em !important;
			line-height: 23px;
		}
	}
	
	.toggle-container, .toggle-handle {
	  .border-radius(3px);
	}
	
	// create an outline when button gets focus via keyboard
	.toggle-focus {
	  label {
	    // we must use border, since outline doesn't work in IE
	    border: 1px dotted #666 !important;
	  }
	
	  div.toggle-label-on span label {
	    // use white for more contrast
	    border-color: #fff !important;
	  }
	}

	.toggle-handle {
		display: block;
		cursor: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;.advanced-gradent(#d8d8d8, #f6f6f6);
		.box-shadow(0 0 2px #000 inset);
		z-index: 2;//set default width based on ON/OFF labels
		width: 33px;
		height: 100%;
	}
	
	div.toggle-label-on, div.toggle-label-off {
		white-space: nowrap;
		font-size: 17px;
		line-height: 17px;
		font-weight: bold;
		text-transform: uppercase;
		cursor: inherit;
		display: block;
		height: 23px;
		position: absolute;
		width: auto;
		top: 0;
		overflow: hidden;
	}
	
	div.toggle-label-on {
		.advanced-gradent(#3061a8, #83b3f2);
		color: #fff;
		text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
		left: 0;
		width: 100%;
		
		span {
			padding-left: 5px;
		}
	}

	div.toggle-label-off {
		color: #7c7c7c;
		.advanced-gradent(#adadad, #fff);
		text-shadow: 0 -1px 2px rgba(153, 153, 153, 0.4);
		text-align: right;
		right: 0;
		width: 100%;
		
		span {
			padding-right: 5px;
		}
	}



//Jquery Select Box
	/* Dropdown control */
	.selectBox-dropdown {
		min-width: 75px;
		position: relative;
		border: solid 1px #BBB;
		line-height: 1.5;
		text-decoration: none;
		color: #000;
		outline: none;
		vertical-align: middle;
		background: #F2F2F2;
		.advanced-gradent(#F8F8F8, #E1E1E1);
		.box-shadow(0 1px 0 rgba(255, 255, 255, .75));
		.border-radius(4px);
		display: inline-block;
		cursor: default;
	}

	.selectBox-dropdown:focus, .selectBox-dropdown:focus .selectBox-arrow {
		border-color: #666;
	}

	.selectBox-dropdown.selectBox-menuShowing {
		.border-radius-bl(0);
		.border-radius-br(0);
	}

	.selectBox-dropdown .selectBox-label {
		padding: 2px 8px;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
	}

	.selectBox-dropdown .selectBox-arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 23px;
		height: 100%;
		background: @arrow 50% center no-repeat;
		border-left: solid 1px #BBB;
	}

	/* Dropdown menu */
	.selectBox-dropdown-menu {
		position: absolute;
		z-index: 500;
		max-height: 200px;
		border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
		background: #FFF;
		.box-shadow(0 2px 6px rgba(0, 0, 0, .2));
		overflow: auto;
	}

	/* Inline control */
	.selectBox-inline {
		min-width: 75px;
		outline: none;
		border: solid 1px #bbb;
		background: #fff;
		display: inline-block;
		.border-radius(4px);
		overflow: auto;

		&:focus {
			border-color: #666;
		}
	}

	/* Options */
	.selectBox-options, .selectBox-options li, .selectBox-options li a {
		list-style: none;
		display: block;
		cursor: default;
		padding: 0;
		margin: 0;
	}

	.selectBox-options li {
		a {
			line-height: 1.5;
			padding: 0 .5em;
			white-space: nowrap;
			overflow: hidden;
			background: 6px center no-repeat;
		}

		&.selectBox-hover a {
			background-color: #EEE;
		}

		&.selectBox-disabled a {
			color: #888;
			background-color: transparent;
		}

		&.selectBox-selected a {
			background-color: #C8DEF4;
		}
	}

	.selectBox-options .selectBox-optgroup {
		color: #666;
		background: #EEE;
		font-weight: bold;
		line-height: 1.5;
		padding: 0 .3em;
		white-space: nowrap;
	}

	// Disabled state
	.selectBox.selectBox-disabled {
		color: #888 !important;
	}

	.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
		.opacity(.5);
		border-color: #666;
	}

	.selectBox-inline.selectBox-disabled {
		color: #888 !important;

		.selectBox-options a {
			background-color: transparent !important;
		}
	}


// Progressbar

	#progressbar {
		display: none;
		z-index: 2;
		top: 14px;
		margin-top:3px;
		height: 12px;
		background: #FFF;
		width: 50%;
		.inv-gradent(@white);
		border: 1px solid @d-white;
		left: 25%;
		position: relative;
		.border-radius(4px);

		&:hover {
			.opacity(0.4);
			.transition(0.3s);
		}
	}

	#progressbar-value {
		.img-gradent(@progressbar, @activecolor);
		border: 1px solid @d-activecolor;
	}

	#errorbar-value {
		top: 0;
		position: absolute;
		.img-gradent(@progressbar, @errorcolor);
		border: 1px solid @d-errorcolor;
	}

	#errorbar-value, #progressbar-value {
		.border-radius-tl (4px);
		.border-radius-bl (4px);
		margin: -1px;
		height: 100%;
		background-repeat: repeat-x;
		width: 50%; // default value
	}


// Modals

	.modal-aligner {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		display:table;
		visibility: hidden;
	}

	.modal-wrapper {
		vertical-align:middle;
		display:table-cell;
		visibility: hidden;
	}

	.modal-titlebar {
		padding: 0.7em 1em 0.6em 1em;
		position: relative;
		border: none;
		border-bottom: 1px solid #979797;
		.border-radius (0);
		color: @litetext;
		font-weight:700;
		background: #ededed;
		.advanced-gradent(#ededed, #c4c4c4);

		#modal-title {
			margin: .1em 16px .2em 0;
			font-size: 14px;
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);

			&:first-letter {
				text-transform: uppercase;
			}
		}

		.close {
			.border-radius (3px);
			position: absolute;
			right: .8em;
			top: 55%;
			width: 16px;
			margin: -10px 0 0 0;
			padding: 0;
			height: 16px;
			border: 0;

			span {
				display: block;
				margin: 1px;
				background: @close-icon 0 -16px no-repeat;

				&.icon { /*TODO fix all this css*/
					display:inline-block;
					color: inherit;
					line-height: 36px;
					cursor: pointer;
				}
			}
			&:hover span {
				background-position: -16px -16px;
			}
		}
	}

	#modal-container {
		visibility: visible;
	    background: @form_bgcolor;
	    border: 1px solid #B6B6B6;
	    color: @litetext;
		.border-radius (3px);
		position: relative;
		z-index: 1001;
		width: 700px;
		margin: auto; //centers it horizontally
		margin-top: 70px;
		margin-bottom: 20px;
		.box-shadow(0 2px 12px rgba(0,0,0,0.6));

		ul {
			margin:10px;
		}

		#modal-buttons {
			border-top: 1px solid #B6B6B6;
			overflow:hidden; //might be a insufficant solution! ... test more

			button {
				float: right;
				margin: .5em .4em .5em 0;
			}
		}
	}

	#overlay {
		display: none;
		background: #262b33;
		.opacity(0.7);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 900;
		cursor: pointer;
	}


//Nav Modal

	div.navigation-c table {
		padding: .5em 1em;

		ul {
			margin: 5px 0 15px 0;
			padding-left: 20px;

			li {
				display: list-item;
				margin: 6px;
				list-style: square;
				margin: 0 0 0 40px;
				white-space:nowrap;

				a {
					color: @litetext;
				}

				a:hover {
					/* TODO fix below, it could look better*/
					color:white;
					background-color: @litetext;
				}
			}
		}

		p {
			margin-top: 5px;
		}
	}

	.icon-closethick {
		width: 15px;
		height: 15px;
	}


// JGrowl
	div.center div.jGrowl-notification, div.center div.jGrowl-closer {
		margin-left:auto;
		margin-right:auto;
	}

	div#jGrowl-container {
		z-index: 1000;
		position: relative;
		vertical-align: bottom;
		width: 100%;
		max-width: 250px;
	}

	div.jGrowl {
		color: #fff;
		font-size: 12px;

		div.jGrowl-notification, div.jGrowl-closer {
			background-color: #000;
			padding: 10px;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 1em;
			text-align: left;
			display: none;
			.opacity (.8);
			.border-radius (3px);
		}

		div.jGrowl-notification {
			min-height: 10px;
			margin-left: 10px;
			margin-right: 10px;

			div.jGrowl-header {
				font-weight: bold;
				font-size: .85em;
			}

			div.jGrowl-close {
				float: right;
				font-weight: bold;
				font-size: 1em;
				cursor: pointer;
			}
		}

		div.jGrowl-closer {
			margin-left: 10px;
			margin-right: 10px;
			padding-top: 4px;
			padding-bottom: 4px;
			cursor: pointer;
			font-size: .9em;
			font-weight: bold;
			text-align: center;
		}
	}

	.error {
		background-color:#B20000 !important;
	}
	.message {
		background-color:#000066 !important;
	}

	// Hide jGrowl when printing
	@media print {
		div.jGrowl {
			display:none;
		}
	}



// Tipsy
/* TODO change tipsy style add fade in...*/

	.tipsy {
		font-family: 'BankSans';
		font-size: 10px;
		line-height: 15px;
		position: absolute;
		padding: 5px;
		z-index: 10000;
	}
	.tipsy-inner {
		background-color: #000;
		color: #FFF;
		max-width: 200px;
		padding: 5px 8px 4px 8px;
		text-align: center;
		.border-radius(3px);
		.box-shadow (0 0 5px #000);
	}

	.tipsy-arrow {
		position: absolute;
		width: 0;
		height: 0;
		line-height: 0;
		border: 5px dashed #000;
	}

	// Rules to color arrows

	.tipsy-arrow-n {
		border-bottom-color: #000;
	}
	.tipsy-arrow-s {
		border-top-color: #000;
	}
	.tipsy-arrow-e {
		border-left-color: #000;
	}
	.tipsy-arrow-w {
		border-right-color: #000;
	}
	.tipsy-n .tipsy-arrow {
		top: 0;
		left: 50%;
		margin-left: -5px;
		border-bottom-style: solid;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-nw .tipsy-arrow {
		top: 0;
		left: 10px;
		border-bottom-style: solid;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-ne .tipsy-arrow {
		top: 0;
		right: 10px;
		border-bottom-style: solid;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-s .tipsy-arrow {
		bottom: 0;
		left: 50%;
		margin-left: -5px;
		border-top-style: solid;
		border-bottom: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-sw .tipsy-arrow {
		bottom: 0;
		left: 10px;
		border-top-style: solid;
		border-bottom: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-se .tipsy-arrow {
		bottom: 0;
		right: 10px;
		border-top-style: solid;
		border-bottom: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-e .tipsy-arrow {
		right: 0;
		top: 50%;
		margin-top: -5px;
		border-left-style: solid;
		border-right: none;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}
	.tipsy-w .tipsy-arrow {
		left: 0;
		top: 50%;
		margin-top: -5px;
		border-right-style: solid;
		border-left: none;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}
