@import "libraries.less";

// Logo
	#c, #s, #d {
		stroke: none !important;
		fill: #000 !important;
	}

	a#logo {
		position: absolute;
		right: 20px;
		top: 10px;

		path {
			stroke: #000;
			fill:none;
			stroke-width: 4.5;
		}
	}


// Reset
	label, button, legend, a#logo, .toggle-container {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	a {
		outline: 0;
	}


// Layout
	body, html, table {
		height: 100%;
		margin: 0;
	}

	body {
		background-color: @page_bgcolor;
		background-image: @background-dots;
		font-family: @font-list;
		margin:0 8px 0 8px;
		min-width: 1150px; //TODO: change this value manually;
		position: relative; //used to fix issue with logo display... test this
	}

	#layout {
		width: 100%;
		border: 0;
	}

	td {
		vertical-align: top;
		padding: 0;

		&#sidebar {
			width: 0;//pushes all sidebar boxes to the right
		}
	}

	.head {
		height:65px;
	}

	.foot {
		height: 15px;
	}


// General
	p {
		display:inline;
		margin:2px;
	}

	ul {
		padding-left:0;
		margin:0;

		&#navbar {
			margin: 10px;
			z-index: 1001;//CONSIDER shows navbar even when modal is open - not sure about this look
			position: relative;
			margin-right: 170px;//move end of navbar away from logo
		}

		li {
			margin:0;
			display:inline; // for forms

			.local {//position local buttons to right (seperate local and global)
				float:right;
				display:none;
			}
		}
	}

	ul.stacked {
		display: inline-block;
		vertical-align: top;

		li {
			display: block;
			margin-top: 10px;

			> label {
				float: left;
				text-align: right;
				margin-right: 5px;
				margin-left: 0 !important; //reset from another part of the style
				margin-top: 2px;
				width: 125px;//TODO: standardize this (right now only applies to home > signup)
				line-height: @lineHeight + 4px;
			}
		}

		input {
			margin-right: 0; //reset from another part of the style
			width: 200px;//needs this size for email & scoutID
		}
	}

	td#content > ul, td#sidebar > ul {
		display:inline; // for forms
	}
	
	@legendHeight: 20px;
	legend {
		//TODO: cleanup legend style & make better
		font-size: 18px;
		text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
		.background();
		.text();

		margin-left: -10px;
		margin-bottom: -@legendHeight;
		padding:0 10px;
		line-height: @legendHeight;
		border-top: 1px solid #B6B6B6;


		//below is fix for chrome
		position: relative;
		top: 10px;
	}

	fieldset {
		background: @form_bgcolor;
		position: relative;
		padding:1px;
		padding: @legendHeight 10px 0;
		margin:10px;
		display:inline;
		vertical-align:middle;
		border: 1px solid #B6B6B6;
		.box-shadow(0 0 5px #000);
		
		> p {
			position: absolute;
			right: 15px;
			font-size: 11px;
			margin-top: -@legendHeight + 4;
		}
		
		ul {
			margin:10px;

			li:first-child label {
				margin-left:0;
			}

		}

		&.focus legend {
			color: #1c4257;
			border-color: #7096ab;
			.backgroundHighlight()
		}
	}

	fieldset, legend {
		.border-radius-br(8px);
	}

	label {
		font-weight:400;
		margin-left:20px;
	}

	#inputSidebar label{
		margin-left: 0;
	}

	input, select, textarea, button {
		font-family: @font-list;
		font-size: 1em;
	}

	input, textarea {
		border:none;
		background-repeat: repeat;
		background-image: @stripe;
		.box-shadow(inset 0 0 6px #000);
		width:150px;
		height:@lineHeight;
		padding:2px 5px 1px 5px;
		margin: 5px 0;
		vertical-align:middle;
		font-family: @font-list;
		font-size: 15px;
		.border-radius(5px);
	}

	input[readonly='readonly'] { //disabled input
		background-color: #D4D4D4;
		color: #525252;
	}

	textarea {
		padding:5px;
		resize: none;
	}

	input:focus, textarea:focus { // TODO: extend blue shadow to select box & any other inputs
		.box-shadow (inset 0 0 4px @d-blue);
	}


//Clear Input Icon
	.clearIcon{
		span {
			.opacity(0.7);
			background-image: @clearInputIcon;
			height: 25px;
			width: 25px;
			vertical-align: middle;
			display: inline-block;
			cursor: pointer;
			position: relative;
			right: 32px;
			top: 0;

			&:hover {
				.opacity(1);
			}
		}

		input{
			padding-right: 34px;
		}
	}


// Links
	p{
		a {
			.border-radius(0.25em);
			border: 1px solid transparent;
			color: #336699;
			margin: 0 -0.2em;
			padding: 0.1em;
			text-decoration: none;
			border-bottom: 1px dotted #336699; 

			&:hover, &:active {
				border: 1px solid #B6B6B6;
				text-decoration: none;
				background: #ededed;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
				.box-shadow(~'0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset');
			}

			&:hover {
				.reg-gradent(@regColor);
				.box-shadow(0 1px 0 rgba(255,255,255,0.6) inset);
				color: #313131;
			}

			&:active {
				border-color: #7096ab;
				.advanced-gradent(#b9e0f5, #92bdd6);
				color: #1c4257;
			}
		}
	} 


// Buttons and Button Sets
	button, .buttonset label {
		outline: none;
		//TODO: add transitions
		border: 1px solid #B6B6B6;
		.background();
		.text();
		display: inline-block;
		position: relative;
		margin-right: .1em;
		text-decoration: none;
		cursor: pointer;
		text-align: center;
		overflow: visible;
		height: @buttonHeight;
		padding: 0 10px;
		margin-right:4px;
		margin-left:4px;

		svg {
			fill: @liteText;
			vertical-align: middle;
			width: 17px;
			height: 17px;
		}

		&:hover {
			.box-shadow(~'0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset');
			color: #313131;

			svg {
				fill: #313131;
			}
		}

		// remove dotted lines in firefox
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}

	button {
		.border-radius(3px);
		height: @buttonHeight + 2px; //+2 accounts for 1px border on each side
		padding: 0 1em;

		&.icon {
			height: 26px;
			padding: 4px;
			display: inline;
			overflow: hidden;
			background-repeat: no-repeat;
			vertical-align: middle;
			font-size: 22px;
			font-weight: 200;
			line-height: 20px;

			&.plus {//because I don't want to screw around with the actual glyph for the plus character
				font-weight: bold;
				font-size: 17px;
			}
		}
	}

	button:active, .buttonset input[type="radio"]:checked + label {
		color: #1c4257;
		border-color: #7096ab;
		.backgroundHighlight();
	}

	.buttonset {
		margin-right: 4px;
		margin-left: 4px;
		display: inline;

		input[type="radio"] {
			display:none;
			left: ~'-1e+8px';
			position: absolute;
		}

		label {
			margin-left: -3px;
			margin-right: -3px;
			line-height: @buttonHeight; //aligns text to center

			&.first {
				.border-radius-bl (3px);
				.border-radius-tl (3px);
			}

			&.last {
				.border-radius-br (3px);
				.border-radius-tr (3px);
			}
		}

		a {
			padding: 0 1em;
			height:100%;
			display:block;
		}

	}


// Toggle
	.toggle-container {
		display: inline-block;
		vertical-align: middle;
		height: @lineHeight + 3px;//compensates for something - TODO: fix css (@lineheight) for buttons
		position: relative;
		cursor: pointer;
		overflow: hidden;
		// set max width to that of sprite
		max-width: 400px;
		// set default width based on ON/OFF labels
		width: 89px;
	
		input {
			position: absolute;
			top: 0;
			right: 0;// hide the element
			.opacity(0);
			// allow checking of input if visible
			-moz-user-input: enabled !important;
		}
		label {
			margin-left: auto;//reset
			cursor: inherit;
			font-size: 1em !important;
			line-height: @lineHeight;
		}
	}
	
	.toggle-container, .toggle-handle {
		.border-radius(3px);
	}
	
	// create an outline when button gets focus via keyboard
	.toggle-focus {
		label {
			// we must use border, since outline doesn't work in IE
			border: 1px dotted #666 !important;
		}

		div.toggle-label-on span label {
			// use white for more contrast
			border-color: #fff !important;
		}
	}

	.toggle-handle {
		display: block;
		cursor: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		.advanced-gradent(#d8d8d8, #f6f6f6);
		.box-shadow(0 0 2px #000 inset);
		z-index: 2;
		width: 33px;//set default width based on ON/OFF labels
		height: 100%;
	}
	
	div.toggle-label-on, div.toggle-label-off {
		white-space: nowrap;
		line-height: @lineHeight + 2px;
		font-weight: bold;
		//text-transform: uppercase;
		font-size: 16px;
		cursor: inherit;
		display: block;
		height: 100%;
		position: absolute;
		width: auto;
		top: 0;
		overflow: hidden;
	}
	
	div.toggle-label-on {
		.inv-gradent(rgb(89, 137, 204));
		color: #fff;
		text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
		left: 0;
		width: 100%;
		
		span {
			padding-left: 5px;
		}
	}

	div.toggle-label-off {
		color: #7c7c7c;
		.advanced-gradent(#adadad, #fff);
		text-shadow: 0 -1px 2px rgba(153, 153, 153, 0.4);
		text-align: right;
		right: 0;
		width: 100%;
		
		span {
			padding-right: 5px;
		}
	}


// Chosen jQuery Select Box
	//base
	.chzn-container {
		vertical-align: middle;
		font-size: 13px;
		position: relative;
		display: inline-block;
		zoom: 1;
		*display: inline;

		.chzn-drop {
			background: #fff;
			border: 1px solid #aaa;
			border-top: 0;
			position: absolute;
			top: 29px;
			left: 0;
			.box-shadow(0 4px 5px rgba(0,0,0,.15));
			z-index: 999;
		}
	}

	.chzn-container-single{

		.chzn-single {
			.background();
			.text();
			font-weight: normal;//reset
			font-size: 13px;//reset
			.border-radius(5px);
			-moz-background-clip : padding;
			-webkit-background-clip: padding-box;
			background-clip : padding-box;
			border: 1px solid #aaaaaa;
			.box-shadow('0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1)');
			display: block;
			overflow: hidden;
			white-space: nowrap;
			position: relative;
			height: @lineHeight;
			line-height: @lineHeight;
			padding: 0 0 0 8px;
			color: #444444;
			text-decoration: none;

			span {
				margin-right: 26px;
				display: block;
				overflow: hidden;
				white-space: nowrap;
				-o-text-overflow: ellipsis;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}

			abbr {
				display: block;
				position: absolute;
				right: 26px;
				top: 6px;
				width: 12px;
				height: 13px;
				font-size: 1px;
				background: url(chosen-sprite.png) right top no-repeat;

				&:hover {
					background-position: right -11px;
				}
			}

			div {
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				height: 100%;
				width: 18px;

				b {
					background: url('img/chosen-sprite.png') no-repeat 0 0;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}

		.chzn-search {
			padding: 3px 4px;
			position: relative;
			margin: 0;
			white-space: nowrap;
			z-index: 1010;

			input {
				background: #fff url('img/chosen-sprite.png') no-repeat 100% -22px;
				background: url('img/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
				background: url('img/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
				background: url('img/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
				background: url('img/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
				background: url('img/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
				background: url('img/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
				margin: 1px 0;
				padding: 4px 20px 4px 5px;
				outline: 0;
				border: 1px solid #aaa;
				font-family: sans-serif;
				font-size: 1em;
			}
		}

		.chzn-drop {
			.border-radius(0 0 4px 4px);
			-moz-background-clip : padding;
			-webkit-background-clip: padding-box;
			background-clip : padding-box;
		}
	}

	.chzn-container-single-nosearch .chzn-search input {
		position: absolute;
		left: -9000px;
	}

	// Multi Chosen
	.chzn-container-multi {

		.chzn-choices {
			background-color: #fff;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
			background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			border: 1px solid #aaa;
			margin: 0;
			padding: 0;
			cursor: text;
			overflow: hidden;
			height: auto !important;
			height: 1%;
			position: relative;
			.border-radius(3px);

			li {
				float: left;
				list-style: none;
			}

			.search-field {
				white-space: nowrap;
				margin: 0;
				padding: 0;

				input {
					color: #666;
					background: transparent !important;
					border: 0 !important;
					font-family: sans-serif;
					font-size: 100%;
					height: 15px;
					padding: 3px;
					margin: 1px 0;
					outline: 0;
					.box-shadow(none);
				}

				.default {
					color: #999;
				}
			}

			.search-choice {
				.border-radius(3px);
				-moz-background-clip : padding;
				-webkit-background-clip: padding-box;
				background-clip : padding-box;
				.background();
				.box-shadow('0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05)');
				color: #333;
				border: 1px solid #aaaaaa;
				line-height: 13px;
				padding: 3px 20px 3px 5px;
				margin: 3px 0 3px 5px;
				position: relative;
				cursor: default;

				.search-choice-close {
					display: block;
					position: absolute;
					right: 3px;
					top: 4px;
					width: 12px;
					height: 13px;
					font-size: 1px;
					background: url('img/chosen-sprite.png') right top no-repeat;

					&:hover {
						background-position: right -11px;
					}
				}
			}

			.search-choice-focus {
				background: #d4d4d4;

				.search-choice-close {
					background-position: right -11px;
				}
			}
		}

		.chzn-results {
			margin: -1px 0 0;
			padding: 0;
		}

		.chzn-drop .result-selected {
			display: none;
		}
	}

	// Results
	.chzn-container{

		.chzn-results {
			margin: 0 4px 4px 0;
			max-height: 240px;
			padding: 0 0 0 4px;
			position: relative;
			overflow-x: hidden;
			overflow-y: auto;

			li {
				display: none;
				line-height: 15px;
				padding: 5px 6px;
				margin: 0;
				list-style: none;

				em {
					background: #feffde;
					font-style: normal;
				}
			}

			.active-result {
				cursor: pointer;
				display: list-item;
			}

			.highlighted {
				//TODO: normalize LESS for highlighted option in select
				background-color: #3875d7;
				//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
				background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
				background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
				background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
				background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
				background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
				background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
				color: #fff;

				em {
					background: transparent;
				}
			}
			
			.no-results {
				background: #f4f4f4;
				display: list-item;
			}

			.group-result {
				cursor: default;
				color: #999;
				font-weight: bold;
			}

			.group-option {
				padding-left: 15px;
			}
		}

		.chzn-results-scroll {
			background: white;
			margin: 0 4px;
			position: absolute;
			text-align: center;
			width: 321px; // This should by dynamic with js
			z-index: 1;

			span {
				display: inline-block;
				height: 17px;
				text-indent: -5000px;
				width: 9px;
			}
		}

		.chzn-results-scroll-down {
			bottom: 0;

			span {
				background: url('img/chosen-sprite.png') no-repeat -4px -3px;
			}
		}
		
		.chzn-results-scroll-up span {
			background: url('img/chosen-sprite.png') no-repeat -22px -3px;
		}
	}

	// Active
	.chzn-container-active {
		
		.chzn-single {
			.box-shadow(0 0 5px rgba(0,0,0,.3));
			border: 1px solid #5897fb;
		}

		.chzn-single-with-drop {
			border: 1px solid #aaa;
			.box-shadow(0 1px 0 #fff inset);
			background-color: #eee;
			//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
			background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
			background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
			background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
			background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
			background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
			.border-radius-bl(0);
			.border-radius-br(0);

			div {
				background: transparent;
				border-left: none;

				b {
					background-position: -18px 1px;
				}
			}
		}

		.chzn-choices {
			.box-shadow(0 0 5px rgba(0,0,0,.3));
			border: 1px solid #5897fb;

			.search-field input {
				color: #111 !important;
			}
		}
	}

	// Disabled Support
	.chzn-disabled {
		cursor: default;
		opacity:0.5 !important;

		.chzn-single {
			cursor: default;
		}

		.chzn-choices .search-choice .search-choice-close {
			cursor: default;
		}
	}

	// Right to Left
	.chzn-rtl {
		text-align: right;

		.chzn-single {
			padding: 0 8px 0 0;
			overflow: visible;

			span {
				margin-left: 26px;
				margin-right: 0;
				direction: rtl;
			}

			div {
				left: 3px;
				right: auto;
			}

			abbr {
				left: 26px;
				right: auto;
			}
		}

		.chzn-choices {
			
			.search-field input {
				direction: rtl;
			}

			li {
				float: right;
			}

			.search-choice {
				padding: 3px 5px 3px 19px;
				margin: 3px 5px 3px 0;
	
				.search-choice-close {
					left: 4px; right: auto;
					background-position: right top;
				}
			}

		}


		&.chzn-container-single .chzn-results {
			margin: 0 0 4px 4px;
			padding: 0 4px 0 0;
		}

		.chzn-results .group-option {
			padding-left: 0;
			padding-right: 15px;
		}

		&.chzn-container-active .chzn-single-with-drop div {
			border-right: none;
		}

		.chzn-search input {
			background: #fff url('img/chosen-sprite.png') no-repeat -38px -22px;
			background: url('img/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
			background: url('img/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background: url('img/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background: url('img/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background: url('img/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			background: url('img/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
			padding: 4px 5px 4px 20px;
			direction: rtl;
		}
	}


// Progressbar
	#progressbar {
		display: none;
		z-index: 2;
		top: 14px;
		margin-top:3px;
		height: 12px;
		background: #FFF;
		width: 50%;
		.inv-gradent(@white);
		border: 1px solid @d-white;
		left: 25%;
		position: relative;
		.border-radius(4px);

		&:hover {
			.opacity(0.4);
			.transition(0.3s);
		}
	}

	#progressbar-value {
		.img-gradent(@progressbar, @highlightColor);
		border: 1px solid @d-highlightColor;
	}

	#errorbar-value {
		top: 0;
		position: absolute;
		.img-gradent(@progressbar, @errorcolor);
		border: 1px solid @d-errorcolor;
	}

	#errorbar-value, #progressbar-value {
		.border-radius-tl (4px);
		.border-radius-bl (4px);
		margin: -1px;
		height: 100%;
		background-repeat: repeat-x;
		width: 50%; // default value
	}


// Modals
	.modal-aligner {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		display:table;
		visibility: hidden;
	}

	.modal-wrapper {
		vertical-align:middle;
		display:table-cell;
		visibility: hidden;
	}

	.modal-titlebar {
		padding: 0.7em 1em 0.6em 1em;
		position: relative;
		border: none;
		border-bottom: 1px solid #979797;
		.border-radius(0);
		color: @liteText;
		font-weight:700;
		background: #ededed;
		.advanced-gradent(#ededed, #c4c4c4);

		#modal-title {
			margin: .1em 16px .2em 0;
			font-size: 14px;
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			/* done with js to support multiple words
			&:first-letter {
				text-transform: uppercase;
			}
			*/
		}

		.close {
			.border-radius (3px);
			position: absolute;
			right: .8em;
			top: 55%;
			width: 16px;
			margin: -10px 0 0 0;
			padding: 0;
			height: 16px;
			border: 0;

			span {
				display: block;
				margin: 1px;
				background: @close-icon 0 -16px no-repeat;

				&.icon { //TODO: fix all this css
					display:inline-block;
					color: inherit;
					line-height: 36px;
					cursor: pointer;
				}
			}
			&:hover span {
				background-position: -16px -16px;
			}
		}
	}

	#modal-container {
		visibility: visible;
		background: @form_bgcolor;
		border: 1px solid #B6B6B6;
		color: @liteText;
		.border-radius (3px);
		position: relative;
		z-index: 1001;
		width: 700px;
		margin: auto; //centers it horizontally
		margin-top: 70px;
		margin-bottom: 20px;
		.box-shadow(0 2px 12px rgba(0,0,0,0.6));

		ul {
			margin:10px;
		}

		#modal-buttons {
			border-top: 1px solid #B6B6B6;
			overflow:hidden; //might be a insufficant solution! ... test more

			button {
				float: right;
				margin: .5em .4em .5em 0;
			}
		}
	}

	#overlay {
		display: none;
		background: #262b33;
		.opacity(0.7);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 900;
		cursor: pointer;
	}


// Nav Modal
	div.navigation-c table {
		padding: .5em 1em;

		ul {
			margin: 5px 0 15px 0;
			padding-left: 20px;

			li {
				display: list-item;
				margin: 6px;
				list-style: square;
				margin: 0 0 0 40px;
				white-space:nowrap;

				a {
					color: @liteText;
				}

				a:hover {
					// TODO: fix below, it could look better
					color:white;
					background-color: @liteText;
				}
			}
		}

		p {
			margin-top: 5px;
		}
	}

	.icon-closethick {
		width: 15px;
		height: 15px;
	}


// JGrowl
	div.center div.jGrowl-notification, div.center div.jGrowl-closer {
		margin-left:auto;
		margin-right:auto;
	}

	div#jGrowl-container {
		z-index: 1000;
		position: relative;
		vertical-align: bottom;
		width: 100%;
		max-width: 250px;
	}

	div.jGrowl {
		color: #fff;
		font-size: 12px;

		div.jGrowl-notification, div.jGrowl-closer {
			background-color: #000;
			padding: 10px;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 1em;
			text-align: left;
			display: none;
			.opacity (.8);
			.border-radius (3px);
		}

		div.jGrowl-notification {
			min-height: 10px;
			min-width: 175px;
			margin-left: 10px;
			margin-right: 10px;

			div.jGrowl-header {
				font-weight: bold;
				font-size: .85em;
			}

			div.jGrowl-close {
				float: right;
				font-weight: bold;
				font-size: 1em;
				cursor: pointer;
			}
		}

		div.jGrowl-closer {
			margin-left: 10px;
			margin-right: 10px;
			padding-top: 4px;
			padding-bottom: 4px;
			cursor: pointer;
			font-size: .9em;
			font-weight: bold;
			text-align: center;
		}
	}

	.error {
		background-color:#B20000 !important;
	}
	.message {
		background-color:#000066 !important;
	}

	// Hide jGrowl if page is printed
	@media print {
		div.jGrowl {
			display:none;
		}
	}


// Tipsy
	.tipsy {
		font-family: 'BankSans';
		font-size: 10px;
		line-height: 15px;
		position: absolute;
		padding: 5px;
		z-index: 10000;
	}
	.tipsy-inner {
		background-color: #000;
		color: #FFF;
		max-width: 200px;
		padding: 5px 8px 4px 8px;
		text-align: center;
		.border-radius(3px);
		.box-shadow (0 0 5px #000);
	}

	.tipsy-arrow {
		position: absolute;
		width: 0;
		height: 0;
		line-height: 0;
		border: 5px dashed #000;
	}

	// Rules to color arrows

	.tipsy-arrow-n {
		border-bottom-color: #000;
	}
	.tipsy-arrow-s {
		border-top-color: #000;
	}
	.tipsy-arrow-e {
		border-left-color: #000;
	}
	.tipsy-arrow-w {
		border-right-color: #000;
	}
	.tipsy-n .tipsy-arrow {
		top: 0;
		left: 50%;
		margin-left: -5px;
		border-bottom-style: solid;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-nw .tipsy-arrow {
		top: 0;
		left: 10px;
		border-bottom-style: solid;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-ne .tipsy-arrow {
		top: 0;
		right: 10px;
		border-bottom-style: solid;
		border-top: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-s .tipsy-arrow {
		bottom: 0;
		left: 50%;
		margin-left: -5px;
		border-top-style: solid;
		border-bottom: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-sw .tipsy-arrow {
		bottom: 0;
		left: 10px;
		border-top-style: solid;
		border-bottom: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-se .tipsy-arrow {
		bottom: 0;
		right: 10px;
		border-top-style: solid;
		border-bottom: none;
		border-left-color: transparent;
		border-right-color: transparent;
	}
	.tipsy-e .tipsy-arrow {
		right: 0;
		top: 50%;
		margin-top: -5px;
		border-left-style: solid;
		border-right: none;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}
	.tipsy-w .tipsy-arrow {
		left: 0;
		top: 50%;
		margin-top: -5px;
		border-right-style: solid;
		border-left: none;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}
