ul.signup {
	position: relative;//for text near field set
	display: inline-block;
	vertical-align: top;

	li {
		display: block;
		margin-top: 10px;

		> label {
			float: left;
			text-align: right;
			margin-right: 5px;
			margin-left: 0 !important; //reset from another part of the style
			margin-top: 2px;
			width: 130px;
		}
	}

	input {
		margin-right: 0; //reset from another part of the style
	}
}