append scripts
	include coffee/tablesorter.js
	include coffee/jlinq.js
	include coffee/tree_table.js


prepend local_nav
	mixin nav_button('data_liberation')

// login_required: True


prepend local_nav
	mixin nav_button('analysis')

// login_required: True

append style
	:stylus(compress=true, inline=true)
		@import "stylus/analysis"


append content:
	ul.member(style='display: none')
		li
			fieldset
				legend Data
				ul

append sidebar
	ul.member(style='display: none;')
		li
			fieldset
				legend Query
				ul
					label(for='queryTeamNum', data-defaulttext='Team Num:')
					input#queryTeamNum
