append scripts
	include coffee/home.js


prepend local_nav
	+nav_button('home')
		include svg/home

prepend content
	+page_content('home')
		p Here's how it is: Earth got used up, so we terraformed a whole new galaxy of Earths, some rich and flush with the new technologies, some not so much. Central Planets, them was formed the Alliance, waged war to bring everyone under their rule; a few idiots tried to fight it, among them myself. I'm Malcolm Reynolds, captain of Serenity. Got a good crew: fighters, pilot, mechanic. We even picked up a preacher, and a bona fide companion. There's a doctor, too, took his genius sister out of some Alliance camp, so they're keeping a low profile. You got a job, we can do it, don't much care what it is.
		br
		br
		p We've got a gorilla for sale. Magilla Gorilla for sale. Won't you buy him, take him home and try him, gorilla for sale. Don't you want a little gorilla you can call your own, a gorilla who'll be with ya when you're all alone? How much is that gorilla in the window? Take our advice, at any price, a gorilla like Magilla is mighty nice. Gorilla, Magilla Gorilla for sale.
		br
		br
		p Look for the Union Label when you are buying a coat, dress, or blouse. Remember, somewhere our union's sewing, our wages going to feed the kids, and run the house. We work hard, but who's complaining. Thanks to the I.L.G. we're paying our way. So always look for the Union Label. It means we're able to make it in the U.S.A.!


prepend local_nav
	mixin nav_button('synopsis')

prepend local_nav
	mixin nav_button('signup')