// full_name: Pit Scouting
// description: lorem
// login_required: True

// full_name: Robot Scouting
// description: lorem
// login_required: True

// full_name: Tracking Scouting
// description: lorem
// login_required: True