// full_name: Edit Account
// login_required: True


// full_name: Contact
// login_required: False


// full_name: Credits
// login_required: False


// full_name: Login
// login_required: False


prepend local_nav
	+nav_button('navigation')
		include svg/nav

// login_required: true