// full_name: View Contribution
// description: lorem
// login_required: True

// full_name: Manage Scouting
// description: lorem
// login_required: True

// full_name: View Team Members
// description: lorem
// login_required: True