- version = 'alpha'
- current_year = new Date().getFullYear()

!!! 5
html
	head
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		title CSD
		link(href='favicon.ico', rel='shortcut icon')

		block style
			link(rel='stylesheet', type='text/css', href='./css/base.css')
			link(rel='stylesheet', type='text/css', href='./css/toggle.css')
			link(rel='stylesheet', type='text/css', href='./css/chosen.css')
			link(rel='stylesheet', type='text/css', href='./css/jgrowl.css')
			link(rel='stylesheet', type='text/css', href='./css/tipsy.css')
	body
		#layout
			!= yield

		#foot
			#page_footer
				#progressbar
					#progressbar_value
					#errorbar_value

				p
					| CORE Scouting Database - Created By 
					a(href="http://core2062.com") CORE 2062
					|  - &copy;#{current_year} - version: #{version}

	script(data-main="js/main", type="text/javascript", src="js/require-jquery.js")

	//- this must be included for live reload to work in developement
	//- it will be automatically ignored when deployed
	!= livereload
