/*
Designer Sean Lang
*/
@font-face {
  font-family: 'BankGothicMdBTMedium';
  src: url("../font/bank-gothic-medium-bt.ttf");
}
@font-face {
  font-family: 'BankSans';
  src: url("../font/bank-sans.ttf");
}
* {
  margin: 0;
  padding: 0;
}
label,
button,
legend,
a#logo,
.toggle-container {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a {
  outline: 0;
}
#logo {
  position: absolute;
  right: 0;
  top: 0;
}
#logo path {
  stroke: #000;
  fill: none;
  stroke-width: 4.5;
}
#c,
#s,
#d {
  stroke: none !important;
  fill: #000 !important;
}
body,
html {
  display: inline-block;
  min-width: 100%;
  height: 100%;
}
body {
  background-color: #adadad;
  background-image: url("../img/background_dots.png");
  font-family: "BankGothicMdBTMedium", "bankgothic lt bt";
  position: relative;
}
#navbar {
  font-size: 0;
  white-space: nowrap;
  margin-right: 144px;
  z-index: 1001;
  position: relative;
}
#foot {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
  height: 20px;
}
#layout {
  padding: 0 8px;
  margin-top: -40px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
#main {
  border-top: 48px solid transparent;
  position: relative;
}
#content {
  float: left;
  margin-right: 215px;
}
#sidebar {
  width: 215px;
  margin-left: -215px;
  float: right;
}
p {
  display: inline;
  margin: 2px;
}
ul li {
  margin: 0;
  display: inline;
}
ul li .local {
  float: right;
  display: none;
}
hr {
  margin: 10px;
  margin-right: 134px;
}
ul.stacked {
  display: inline-block;
  vertical-align: top;
}
ul.stacked li {
  display: block;
  margin-top: 10px;
}
ul.stacked li > label {
  float: left;
  text-align: right;
  margin-right: 5px;
  margin-left: 0 !important;
  margin-top: 2px;
  width: 125px;
  line-height: 27px;
}
ul.stacked input {
  margin-right: 0;
  width: 200px;
}
#content > ul,
#sidebar > ul {
  display: inline;
}
legend {
  font-size: 18px;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.3), 0px -1px 0px rgba(0,0,0,0.7);
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
  margin-left: -10px;
  margin-bottom: -20px;
  padding: 0 10px;
  line-height: 20px;
  border-top: 1px solid #b6b6b6;
  position: relative;
  top: 10px;
}
fieldset {
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  position: relative;
  padding: 1px;
  padding: 20px 10px 0;
  margin: 10px;
  display: inline;
  vertical-align: middle;
  border: 1px solid #b6b6b6;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
  -ms-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
fieldset > p {
  position: absolute;
  right: 15px;
  font-size: 11px;
  margin-top: -16px;
}
fieldset ul {
  margin: 10px;
}
fieldset ul li first-child label {
  margin-left: 0;
}
fieldset.focus legend {
  color: #1c4257;
  border-color: #7096ab;
  background-color: #a5cee5;
  background-image: -webkit-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: -moz-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: -o-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b3d5e9), color-stop(1, #77b5d8));
  background-image: -webkit-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: -moz-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: -o-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: -ms-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -o-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -ms-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
}
fieldset,
legend {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
}
label {
  font-weight: 400;
  margin-left: 20px;
}
input,
select,
textarea,
button {
  font-family: "BankGothicMdBTMedium", "bankgothic lt bt";
  font-size: 1em;
}
input,
textarea {
  border: none;
  background-repeat: repeat;
  background-image: url("../img/stripe.png");
  -moz-box-shadow: inset 0 0 6px #000;
  -webkit-box-shadow: inset 0 0 6px #000;
  -webkit-box-shadow: inset 0 0 6px #000;
  -moz-box-shadow: inset 0 0 6px #000;
  -o-box-shadow: inset 0 0 6px #000;
  -ms-box-shadow: inset 0 0 6px #000;
  box-shadow: inset 0 0 6px #000;
  width: 150px;
  height: 23px;
  padding: 2px 5px 1px 5px;
  margin: 5px 0;
  vertical-align: middle;
  font-family: "BankGothicMdBTMedium", "bankgothic lt bt";
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
input[readonly='readonly'] {
  background-color: #d4d4d4;
  color: #525252;
}
textarea {
  padding: 5px;
  resize: none;
}
input:focus,
textarea:focus {
  -moz-box-shadow: inset 0 0 4px #074797;
  -webkit-box-shadow: inset 0 0 4px #074797;
  -webkit-box-shadow: inset 0 0 4px #074797;
  -moz-box-shadow: inset 0 0 4px #074797;
  -o-box-shadow: inset 0 0 4px #074797;
  -ms-box-shadow: inset 0 0 4px #074797;
  box-shadow: inset 0 0 4px #074797;
}
.clearIcon span {
  -moz-opacity: 0.7;
  filter: alpha(opacity=null);
  opacity: 0.7;
  background-image: url("../img/icon/clear_input.svg");
  height: 25px;
  width: 25px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 32px;
  top: 0;
}
.clearIcon span:hover {
  -moz-opacity: 1;
  filter: alpha(opacity=null);
  opacity: 1;
}
.clearIcon input {
  padding-right: 34px;
}
p a {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid transparent;
  color: #369;
  margin: 0 -0.2em;
  padding: 0.1em;
  text-decoration: none;
  border-bottom: 1px dotted #369;
}
p a:hover,
p a:active {
  border: 1px solid #b6b6b6;
  text-decoration: none;
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -o-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -ms-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
}
p a:hover {
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  color: #313131;
}
p a:active {
  border-color: #7096ab;
  background-image: -webkit-linear-gradient(top, #b9e0f5, #92bdd6);
  background-image: -moz-linear-gradient(top, #b9e0f5, #92bdd6);
  background-image: -o-linear-gradient(top, #b9e0f5, #92bdd6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b9e0f5), color-stop(1, #92bdd6));
  background-image: -webkit-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
  background-image: -moz-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
  background-image: -o-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
  background-image: -ms-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
  background-image: linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
  color: #1c4257;
}
button,
.buttonset label {
  outline: none;
  border: 1px solid #b6b6b6;
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  overflow: visible;
  height: 32px;
  padding: 0 10px;
}
button svg,
.buttonset label svg {
  fill: #4f4f4f;
  vertical-align: middle;
  width: 17px;
  height: 17px;
}
button:hover,
.buttonset label:hover {
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -o-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -ms-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  color: #313131;
}
button:hover svg,
.buttonset label:hover svg {
  fill: #313131;
}
button::-moz-focus-inner,
.buttonset label::-moz-focus-inner {
  border: 1px solid;
  padding: 0;
}
button,
.buttonset {
  margin-right: 4px;
  margin-left: 4px;
}
button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 34px;
  padding: 0 1em;
}
button.icon {
  height: 26px;
  padding: 4px;
  display: inline;
  overflow: hidden;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 200;
  line-height: 20px;
}
button.icon.plus {
  font-weight: bold;
  font-size: 17px;
}
button:active,
.buttonset input[type="radio"]:checked + label {
  color: #1c4257;
  border-color: #7096ab;
  background-color: #a5cee5;
  background-image: -webkit-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: -moz-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: -o-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b3d5e9), color-stop(1, #77b5d8));
  background-image: -webkit-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: -moz-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: -o-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: -ms-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -webkit-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -moz-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -o-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  -ms-box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
  box-shadow: '0 0 8px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255,255,255,0.8) inset';
}
.buttonset {
  display: inline;
}
.buttonset input[type="radio"] {
  display: none;
  left: -1e+8px;
  position: absolute;
}
.buttonset label {
  margin-left: 0;
  margin-right: 0;
  line-height: 32px;
}
.buttonset label:nth-child(2) {
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.buttonset label:last-child {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}
.buttonset a {
  padding: 0 1em;
  height: 100%;
  display: block;
}
#page_footer {
  display: inline-block;
}
#page_footer p {
  margin: 0 20px;
  white-space: nowrap;
}
#page_footer:hover #progressbar {
  -moz-opacity: 0;
  filter: alpha(opacity=null);
  opacity: 0;
}
#progressbar,
#progressbar_value,
#errorbar_value {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#progressbar {
  pointer-events: none;
  z-index: 2;
  top: 18px;
  height: 18px;
  margin-top: -18px;
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  background-image: -webkit-linear-gradient(top, #b8b8b8, #dfdfdf);
  background-image: -moz-linear-gradient(top, #b8b8b8, #dfdfdf);
  background-image: -o-linear-gradient(top, #b8b8b8, #dfdfdf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b8b8b8), color-stop(1, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #b8b8b8 0%, #dfdfdf 100%);
  background-image: -moz-linear-gradient(top, #b8b8b8 0%, #dfdfdf 100%);
  background-image: -o-linear-gradient(top, #b8b8b8 0%, #dfdfdf 100%);
  background-image: -ms-linear-gradient(top, #b8b8b8 0%, #dfdfdf 100%);
  background-image: linear-gradient(top, #b8b8b8 0%, #dfdfdf 100%);
  border: 1px solid #b3b3b3;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
#progressbar_value {
  background-image: url("../img/progress_bar.png"), -webkit-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: url("../img/progress_bar.png"), -moz-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: url("../img/progress_bar.png"), -o-linear-gradient(top, #b3d5e9, #77b5d8);
  background-image: url("../img/progress_bar.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0, #b3d5e9), color-stop(1, #77b5d8));
  background-image: url("../img/progress_bar.png"), -webkit-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: url("../img/progress_bar.png"), -moz-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: url("../img/progress_bar.png"), -o-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: url("../img/progress_bar.png"), -ms-linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  background-image: url("../img/progress_bar.png"), linear-gradient(top, #b3d5e9 0%, #77b5d8 100%);
  border: 1px solid #77b5d8;
}
#errorbar_value {
  top: 0;
  position: absolute;
  background-image: url("../img/progress_bar.png"), -webkit-linear-gradient(top, #ff2626, #d90000);
  background-image: url("../img/progress_bar.png"), -moz-linear-gradient(top, #ff2626, #d90000);
  background-image: url("../img/progress_bar.png"), -o-linear-gradient(top, #ff2626, #d90000);
  background-image: url("../img/progress_bar.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff2626), color-stop(1, #d90000));
  background-image: url("../img/progress_bar.png"), -webkit-linear-gradient(top, #ff2626 0%, #d90000 100%);
  background-image: url("../img/progress_bar.png"), -moz-linear-gradient(top, #ff2626 0%, #d90000 100%);
  background-image: url("../img/progress_bar.png"), -o-linear-gradient(top, #ff2626 0%, #d90000 100%);
  background-image: url("../img/progress_bar.png"), -ms-linear-gradient(top, #ff2626 0%, #d90000 100%);
  background-image: url("../img/progress_bar.png"), linear-gradient(top, #ff2626 0%, #d90000 100%);
  border: 1px solid #d90000;
}
#errorbar_value,
#progressbar_value {
  height: 100%;
  background-repeat: repeat-x;
  width: 50%;
}
#modal_aligner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  visibility: hidden;
}
#modal_wrapper {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  visibility: hidden;
}
#modal_titlebar {
  padding: 0.7em 1em 0.6em 1em;
  position: relative;
  border: none;
  border-bottom: 1px solid #979797;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #4f4f4f;
  font-weight: 700;
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  background-image: -webkit-linear-gradient(top, #ededed, #c4c4c4);
  background-image: -moz-linear-gradient(top, #ededed, #c4c4c4);
  background-image: -o-linear-gradient(top, #ededed, #c4c4c4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #c4c4c4));
  background-image: -webkit-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
  background-image: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
  background-image: -ms-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
  background-image: linear-gradient(top, #ededed 0%, #c4c4c4 100%);
}
#modal_titlebar #modal_title {
  margin: 0.1em 16px 0.2em 0;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#modal_titlebar .close {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: 0.8em;
  top: 55%;
  width: 16px;
  margin: -10px 0 0 0;
  padding: 0;
  height: 16px;
  border: 1px solid;
}
#modal_titlebar .close span {
  display: block;
  margin: 1px;
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
}
#modal_titlebar .close span.icon  // TODO fix all this css {
  display: inline-block;
  color: inherit;
  line-height: 36px;
  cursor: pointer;
}
#modal_titlebar .close:hover span {
  background-position: -16px -16px;
}
.icon_closethick {
  width: 15px;
  height: 15px;
}
#modal_container {
  text-align: left;
  visibility: visible;
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  border: 1px solid #b6b6b6;
  color: #4f4f4f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  z-index: 1001;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  display: inline-block;
  -moz-box-shadow: 0 2px 12px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 2px 12px rgba(0,0,0,0.6);
  -o-box-shadow: 0 2px 12px rgba(0,0,0,0.6);
  -ms-box-shadow: 0 2px 12px rgba(0,0,0,0.6);
  box-shadow: 0 2px 12px rgba(0,0,0,0.6);
}
#modal_container ul {
  margin: 10px;
}
#modal_container #modal_buttons {
  border-top: 1px solid #b6b6b6;
  overflow: hidden;
}
#modal_container #modal_buttons button {
  float: right;
  margin: 0.5em 0.4em 0.5em 0;
}
#overlay {
  display: none;
  background-color: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -o-linear-gradient(top, #d8d8d8, #b2b2b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8d8d8), color-stop(1, #b2b2b2));
  background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: -ms-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  background-image: linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -moz-opacity: 0.7;
  filter: alpha(opacity=null);
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  cursor: pointer;
}
div.navigation-c {
  min-width: 550px;
  position: relative;
}
div.navigation-c p {
  display: block;
  width: 100%;
}
div.navigation-c #nav_accordion {
  padding: 0.5em 1em;
  display: inline-block;
  padding-right: 300px;
}
div.navigation-c #nav_accordion p {
  padding: 3px 0;
  cursor: pointer;
}
div.navigation-c ul {
  margin: 5px 0 15px 0;
  padding-left: 15px;
}
div.navigation-c ul li {
  display: list-item;
  margin: 6px;
  list-style: square;
  margin: 0 0 0 10px;
  white-space: nowrap;
}
div.navigation-c ul li a {
  text-decoration: none;
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #4f4f4f;
}
div.navigation-c ul li a:hover {
  color: #fff;
  background-color: #4f4f4f;
}
div.navigation-c #nav_preview {
  padding-right: 5px;
  width: 300px;
  float: right;
  position: absolute;
  right: 0;
  height: 100%;
  display: inline;
}
div.navigation-c #nav_preview p {
  position: absolute;
  bottom: 0;
}
