/*
Designer Sean Lang
*/
canvas {
  border: 1px solid #000;
}
#score_container {
  display: inline-block;
}
#score_container button {
  width: 70px;
  height: 50px;
  display: block;
}
#score_container button.selected {
  background-color: #ede915;
  background-image: none;
}
#score_container button[disabled]:hover,
#score_container button[disabled]:active,
#score_container button[disabled] {
  background-color: #9c9c9c;
  background-image: none;
  border: none;
  color: #000;
}
#type_container button {
  width: 150px;
  height: 50px;
}
#type_container button.selected {
  background-color: #ede915;
  background-image: none;
}
table#tracking_display {
  border: solid 1px #000;
  margin-top: 10px;
  width: 330px;
}
table#tracking_display thead {
  background-color: #d1d1d1;
}
table#tracking_display tr {
  border: solid 1px #000;
}
ul.stacked li > label {
  width: 170px;
}
ul.stacked.hybrid li > label {
  width: 125px;
}
ul.stacked.hml li > label {
  width: 80px;
}
