/*
Designer Sean Lang
*/
.center .jGrowl-notification,
.center .jGrowl-closer {
  margin-left: auto;
  margin-right: auto;
}
#jGrowl-container {
  z-index: 1000;
  position: relative;
  vertical-align: bottom;
  width: 100%;
  max-width: 250px;
}
.jGrowl {
  color: #fff;
  font-size: 12px;
}
.jGrowl h1 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}
.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
  background-color: #000;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  text-align: left;
  display: none;
  -moz-opacity: 0.8;
  -webkit-filter: alpha(opacity=null);
  -moz-filter: alpha(opacity=null);
  -o-filter: alpha(opacity=null);
  -ms-filter: alpha(opacity=null);
  filter: alpha(opacity=null);
  opacity: 0.8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.jGrowl .jGrowl-notification {
  min-height: 10px;
  min-width: 175px;
  margin-left: 10px;
  margin-right: 10px;
}
.jGrowl .jGrowl-notification .jGrowl-header {
  font-weight: bold;
  font-size: 0.85em;
}
.jGrowl .jGrowl-notification .jGrowl-close {
  float: right;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}
.jGrowl .jGrowl-closer {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}
.error {
  background-color: #d90000 !important;
}
.message {
  background-color: #77b5d8 !important;
}
@media print {
  .jGrowl {
    display: none;
  }
}
