/*
Designer Sean Lang
*/
#site_status {
  padding: 3px;
  -webkit-border-radius: '3px';
  -moz-border-radius: '3px';
  border-radius: '3px';
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
  background-color: #54d039;
  background-image: -webkit-linear-gradient(top, #6ed757, #44b62b);
  background-image: -moz-linear-gradient(top, #6ed757, #44b62b);
  background-image: -o-linear-gradient(top, #6ed757, #44b62b);
  background-image: linear-gradient(top, #6ed757, #44b62b);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
}
#site_status.error {
  background-image: -webkit-linear-gradient(top, #ff2626, #d90000);
  background-image: -moz-linear-gradient(top, #ff2626, #d90000);
  background-image: -o-linear-gradient(top, #ff2626, #d90000);
  background-image: linear-gradient(top, #ff2626, #d90000);
}
