@import 'library'

table.tablesorter {
	font-family:arial
	background-color: #CDCDCD
	margin:10px 0pt 15px
	font-size: 8pt
	width: 100%
	text-align: left
	
	thead tr th, tfoot tr th {
		background-color: #e6EEEE
		border: 1px solid #FFF
		font-size: 8pt
		padding: 4px
	}
	
	thead tr {
		.header {
			background-image: ts_bg
			background-repeat: no-repeat
			background-position: center right
			cursor: pointer
		}
		
		.headerSortUp {
			background-image: ts_asc
		}
		
		.headerSortDown {
			background-image: ts_desc
		}
		
		.headerSortDown, .headerSortUp {
			background-color: #8dbdd8
		}
	}
	
	tbody {
		td {
			color: #3D3D3D
			padding: 4px
			background-color: #FFF
			vertical-align: top
		}
		
		tr.odd td {
			background-color:#F0F0F6
		}
	}

}

//Pager
div.tablesorterPager {
	padding: 10px 0 10px 0
	background-color: #D6D2C2
	text-align: center
	
	span {
		padding: 0 5px 0 5px
	}
	
	input {
		font-size: 8px
		width: 50px
		border: 1px solid #330000
		text-align: center
		
		&.prev {
			width: auto
			margin-right: 10px
		}
		
		&.next {
			width: auto
			margin-left: 10px
		}
	}
}