$def with ()

$var full_name: Member Analysis
$var description: lorem
$var login_required: True

$var content:
	<ul style="display:none" class="member-c">
		<li>
			<fieldset>
				<legend>Data</legend>
				<ul></ul>
			</fieldset>
		</li>
	</ul>

$var sidebar:
	<ul style="display:none" class="member-c">
		<li>
			<fieldset>
				<legend>Query</legend>
				<ul>
					<label for="queryTeamNum" data-defaultText="Team Num:"></label>
					<input id="queryTeamNum"/>
				</ul>
			</fieldset>
		</li>
	</ul>
