append scripts
	include coffee/coffee_script
	include coffee/coffee_table

//- full_name: Manage MongoDB
//- description: lorem
//- login_required: False

append content
	ul.mongo(style='display: none')
		li
			fieldset
				legend Data Feed
				ul
					li
						label Update:
						button(title='get the TPID, team number, and profiles of all teams', onclick="adminRequest('getTeams')") Get Teams
						button(title='get the EID, and event info for all competitions', onclick="adminRequest('getEvents')") Get Events
						button(title='update the FMS database by pulling from twitter', onclick="adminRequest('updateFMS')") Update FMS
						button(title='do all analysis', onclick="adminRequest('compile')") Compile
						button(title='rebuild the collection holding partly analyzed scouting data', onclick="adminRequest('rebuildAnalysisScouting')") Rebuild Scouting Analysis
					li
						label Export:
						button(onclick="adminRequest('export')") All
						label Import:
						button(onclick="adminRequest('import')") All

		li
			fieldset
				legend Site
				ul
					li
						label Clean:
						button(onclick="adminRequest('clearTmp')") Temporary Files
						button(onclick="adminRequest('clearLog')") DB Log
						button(onclick="adminRequest('resetDB')") Reset/Setup DB