append scripts
	include coffee/tablesorter
	include coffee/jlinq


// full_name: Data Liberation
// description: lorem
// login_required: True

// full_name: Member Analysis
// description: lorem
// login_required: True

append style
	:stylus(compress=true, inline=true)
		@import "stylus/analysis"


append content:
	ul.member(style='display: none')
		li
			fieldset
				legend Data
				ul

append sidebar
	ul.member(style='display: none;')
		li
			fieldset
				legend Query
				ul
					label(for='queryTeamNum', data-defaulttext='Team Num:')
					input#queryTeamNum

// full_name: Public Analysis
// description: lorem
// login_required: False
