// full_name: Data Liberation
// description: lorem
// login_required: True

// full_name: Member Analysis
// description: lorem
// login_required: True

append content:
	<ul style="display:none" class="member-c">
		<li>
			<fieldset>
				<legend>Data</legend>
				<ul></ul>
			</fieldset>
		</li>
	</ul>

append sidebar
	<ul style="display:none" class="member-c">
		<li>
			<fieldset>
				<legend>Query</legend>
				<ul>
					<label for="queryTeamNum" data-defaultText="Team Num:"></label>
					<input id="queryTeamNum"/>
				</ul>
			</fieldset>
		</li>
	</ul>

// full_name: Public Analysis
// description: lorem
// login_required: False
