version = 'alpha'
current_year = new Date().getFullYear()

!!! 5
html
	head
		//- TODO: add manifest="manifest.mf" + make file
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		title CSD
		link#favicon(href='favicon.ico', rel='shortcut icon')

		//- jade is modded to support inlining
		block style
			:stylus(compress=true, inline=true)
				@import "stylus/base"

		//- TODO: add IE style sheet (low priority)
		//if lt IE 9
			link(rel='stylesheet', type='text/css', href='css/style-ie.css')

		//- TODO: add meta tags for bookmarks and/or for search engines
	body
		table#layout
			tr#head
				//- navbar goes here
			tr
				td#content
					noscript
						p Um, this is awkward&hellip; all navigation (and most functionality) on this site relies on JavaScript, a programming language that helps add interactivity to web sites. So I can't really do anything until you enable it. If you don't know how to enable JavaScript, look <a href="http://www.activatejavascript.org">here</a>.
					//- other content goes here
				td#sidebar(style='max-height:100%')
					//- other sidebar stuff goes here
					#jGrowl-container.jGrowl.bottom-right
					//- TODO: fix jGrowl positioning - align with bottom of side bar (add pooling? ... or mechanism to remove messages when there are too many? ... or scroll bar on message container - not including "close all" in scroll?)
					//- TODO: create classes of jGrowl notifications to close selectively
			tr#foot
				td(colspan=2)
					//- Google +1 Button
					//- TODO: make a +Snippet https://developers.google.com/+/plugins/+1button/#plusonetag
					.g-plusone(data-size="medium", callback="plusone()", data-href="www.urlofmysite.com")
					
					
					#progressbar
						#progressbar-value
						#errorbar-value

					div(style="left: 25%; position: relative; width: 50%; font-size: 12px; text-align: center")
						p CORE Scouting Database - Created By <a href="#contact">Sean Lang</a> - &copy;#{current_year} - version: #{version}
		#modalAligner
			#modalWrapper
				#modalContainer(style="display: none")
					#modalTitlebar
						span#modalTitle Title
						//- remove the extra a tag ?
						a.close(onclick='modalClose()')
							span.icon.icon-closethick

					//- modal content goes here
					#modalButtons

		#overlay(onclick='modalClose()')
		script