// full_name: Front Page
// description: lorem
// login_required: False

// full_name: Signup
// description: lorem
// login_required: False

// full_name: Synopsis
// description: lorem
// login_required: False

// full_name: Guided Tour
// description: lorem
// login_required: False