//- this file is used to pull all the parts of the site together, and pipe them into base.jade (which holds all the basic parts of the site and the layout)
extends base

include library

//pages
include admin
include analysis
include help
include home
include input
include other
include team_leader