!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
    title CSD
    link#favicon(href='favicon.ico', rel='shortcut icon')
    //
       TODO: add IE style sheet (low priority)
    //if lt IE 9
      link(rel='stylesheet', type='text/css', href='css/style-ie.css')
  body