// full_name: Edit Account
// description: lorem
// login_required: True

// full_name: Contact
// description: lorem
// login_required: False

// full_name: Credits
// description: lorem
// login_required: False

// full_name: Login
// description: lorem
// login_required: False

// full_name: Navigation
// description: lorem
// login_required: True